body { background:#FFF;

}
.container2 { background: #FFF;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b7df2d+0,e3f5ab+9,f8ffe8+100&1+0,0.1+19 */
  background: -moz-linear-gradient(left, rgba(183,223,45,.6) 0%, rgba(227,245,171,0.57) 9%, rgba(229,246,178,0.1) 19%, rgba(248,255,232,0.1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(183,223,45,.6) 0%,rgba(227,245,171,0.57) 9%,rgba(229,246,178,0.1) 19%,rgba(248,255,232,0.1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(183,223,45,.6) 0%,rgba(227,245,171,0.57) 9%,rgba(229,246,178,0.1) 19%,rgba(248,255,232,0.1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7df2d', endColorstr='#1af8ffe8',GradientType=1 ); /* IE6-9 */

 }

.availability-container input { font-size:2em;}


.notification { font-size: 1.7em;}


.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.no-margin{
  margin-left: 0;
  margin-right: 0;
}

.website_front{
  font-size: 104px;
  font-family: 'Source Sans Pro', sans-serif;
}

.get_started_button{
  font-size: 40px;
}